recursive-include mcomix/images *.png *.py
recursive-include mcomix/messages *.po *.mo *.pot *.py
recursive-include mime *.*
include mcomix/images/__init__.py mcomix/messages/__init__.py
include mime/comicthumb
include mcomix.1.gz ChangeLog
