[Desktop Entry]
Encoding=UTF-8
Name=MComix
Name[it]=MComix
GenericName=Comic Book Viewer
GenericName[sv]=Serieboksläsare
GenericName[fr]=Visionneur de bandes dessinées
Comment=A viewer for comic book archives
Comment[it]=Un visualizzatore di fumetti 
Comment[es]=Un visor de comics
Comment[sv]=En serieboksläsare
Comment[fr]=Visionneur d'images spécialisé dans la lecture des bandes dessinées
Comment[pl]=Przeglądarka komiksów
Exec=mcomix %f
Icon=mcomix
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;Graphics;Viewer;
MimeType=application/x-cbz;application/x-cbr;application/x-cbt;image/jpeg;image/png;image/gif;image/tiff;image/bmp;image/x-icon;image/x-xpixmap;image/x-xbitmap;application/x-zip;application/zip;application/x-rar;application/x-tar;application/x-gzip;application/x-bzip2;image/svg+xml;image/svg;image/svg-xml;image/vnd.adobe.svg+xml;text/xml-svg;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-pcx;image/x-cmu-raster;image/x-sun-raster;image/x-tga;
